<ion-header>
  <ion-toolbar>
    <ion-title>resultado</ion-title>
    <ion-button routerLink="/peticion">
      <ion-icon slot="start" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <ion-card  button="true" (click)="caracteristicasAvanzadas(hoteles.nombre)" class="cardHoteles" *ngFor="let hoteles of arrayHoteles">
   
    <ion-card-header >
     
      <ion-card-title  >{{hoteles.nombre}}</ion-card-title>
      <ion-card-subtitle>{{hoteles.categoria}}</ion-card-subtitle>

    </ion-card-header>

    <ion-card-content *ngFor="let habitacion of hoteles.tiposHabitacion">

      <img class="imagenHabitacion" src="{{habitacion.imagen}}">
      

    </ion-card-content>
  
    
  </ion-card>


</ion-content>