<ion-header>
  <ion-toolbar>
    <ion-title>resultado</ion-title>
    <ion-button routerLink="/peticion">
      <ion-icon slot="start" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

 

  <ion-card class="cardHoteles" *ngFor="let hoteles of arrayHoteles">

    <ion-card-header>

      <ion-card-title>{{hoteles.nombre}}</ion-card-title>
      <ion-card-subtitle>{{hoteles.categoria}}</ion-card-subtitle>

    </ion-card-header>

    <ion-card-content *ngFor="let habitacion of hoteles.tiposHabitacion">

      <img class="imagenHabitacion" src="{{habitacion.imagen}}">
      <h3>Precio: {{habitacion.precio}} €</h3>
      <h3>Camas: {{habitacion.tipoHabitacion.camas}}</h3>
      <h3>Capacidad: {{habitacion.tipoHabitacion.capacidad}}</h3>


    </ion-card-content>
  
    <ion-button routerLink="/habitacion" fill="outline">View</ion-button>
  </ion-card>


</ion-content>