
<ion-header>
  <ion-toolbar>
    <ion-title>
      <img class="imagen"
        src="https://de1f1l5l72ecp.cloudfront.net/awin/image/upload/q_80,w_940,h_660,c_fit/v1488559049/awin-website/case-studies/image/p2vts1tc3vy9402y52fc.png">
       
      </ion-title>
   

  </ion-toolbar>
 
</ion-header>

<ion-content> 

   

  <ion-list class="tamanoLetter">
    
    <ion-item >
      <ion-label >Categoria</ion-label>
      <ion-select [(ngModel)]="seleccionCategoria" class="tamanoLetter" placeholder="Selecciona">
         
        <ion-select-option *ngFor="let categoria of arrayCategoria" value="{{categoria}}">
          {{categoria}}</ion-select-option>
               </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Camas</ion-label>
      <ion-select [(ngModel)]="seleccionCama" class="tamanoLetter"placeholder="Selecciona">
        <ion-select-option value="">Selecciona</ion-select-option>
        <ion-select-option *ngFor="let camas of arrayCama" value="{{camas}}">{{camas}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Capacidad</ion-label>
      <ion-select [(ngModel)]="seleccionCapacidad" class="tamanoLetter" placeholder="Selecciona">
          <ion-select-option value="">Selecciona</ion-select-option>
        <ion-select-option *ngFor="let capacidad of arrayCapacidad" value="{{capacidad}}"> 
          {{capacidad}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Extras</ion-label>
      <ion-select [(ngModel)]="extrasHtml" multiple="true" class="tamanoLetter"placeholder="Selecciona">
        <ion-select-option *ngFor="let extras of arrayExtras" value="{{extras}}">{{extras}}
        </ion-select-option>
      </ion-select>
    </ion-item>


    <ion-item>
      <ion-label>Precio </ion-label>
      <ion-range class="tamanoLetter" dual-knobs="true" pin="true" min="0" max="1000" [(ngModel)]="knobValues">
        <ion-label class="tamanoLetter" slot="start">{{knobValues.lower}}</ion-label>
        <ion-label class="tamanoLetter" slot="end">{{knobValues.upper}}</ion-label>
      </ion-range>
    </ion-item>

   
  </ion-list>
  <br>
  <ion-button expand="block" (click)="buscarHotel()">
      <ion-icon ios="ios-search" md="md-search"></ion-icon>BUSCAR
</ion-button>

  <br><br><br>
  <ion-footer class="labelFooter">Sergio Galán y David Arias</ion-footer>
</ion-content>